/*
DEVELOPER: EDDY JONES
START DATE: July 20, 2020
OBJECTIVES:
1. Center an image.
2. Apply filter.
3. Apply rounded edges
    4. Create footer
    5. Style text:
        Centered
        Bold
    6.Table border, padding, bg-color top row
    7. Navbar with bg-color, font color, hover effect
*/

nav {
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 101;
    padding: 14px 16px
}

.nav-float-left {
    float: left;
}

#nav-float-right {
    float: right;
    padding-right: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li a {
    display: block;
    padding: inherit;
    text-align: center;
    text-decoration: none;
    color: ghostwhite;
    
}

li a:hover {
    background-color: #1c1c8e;

}

.container#text-overlay-container {
    position:relative;
    text-align: center;
    color: orange;
   
}

#text-overlay {
    font-family: Impact;
    position: absolute;
    font-weight: 900;
    font-size: 330px;
    top: 17%;
    z-index: 100;
    left: 10%;
    opacity: 0.5;
}

img {
   
    filter: hue-rotate(75deg);
    background-color: blue;
    border-radius: 50%;
    border: 2px dotted black;
}


.center {
    display:block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center#nameBanner {
    margin-top: 5%;
}

footer ul {
    background-color: blue;
    color: white;
    list-style:none;
    display: block;
    font-weight: 900;
    text-align:center;
    margin-top: 12%;
    padding: .5% 0;
}

li {
    
    margin-top: 2%;
}

li:hover {
    color:orange;
}

table {
    width: 50%;
    border: 2px solid black;
    margin: 9%;
    margin-left:auto;
    margin-right:auto;
    

}

th {
    background-color: blue;
    color: ghostwhite;
    text-align: left;
    padding-bottom: 12px;
    padding-top: 12px;
}

tr,th,td {
    padding: 2px 10px;
    border: 1px solid #ddd;
    
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}
