p {
	text-align : center;
	color: orange;
	
}

.goBlueClass {
	text-align : center;
	text-decoration : underline ;
	background-color : darkblue;
	color : yellow ;
	font-size : large ;
	font-weight: bold ;
}	