/*
	Creator: Eddy Jones
	Date: July 6, 2020
	Assignment notes: Create CSS file containing
						background-color
						font color
						hover selector
						border
						
	Self note: Use adobe color to use a complimentary color scheme

*/

/* Border */

table {
	border : 14px solid #0452de;
	text-align : center;
}

td:hover {
	background-color : #fff8b2;
	color : black ;
}

tr, th {
	background-color : #0592e8;
	color : white;
}

tr, td {
	background-color : #fff833;
	color : gray;
}