body {
    font-family: Avenir,Garamond;
    margin: 0;
    padding: 0;
    width: auto;
  
}

#home {
    background: url(../img/LoneActor.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: auto;
    color: #ffffff;


}

#raise {
    
    position: absolute;
    top: 13%;
    left: 45%;
    display:inline-block;
    width: 30vw;

   

}

.reveal {
    
    animation: appear 2s forwards;
    animation-delay: 2s;
    opacity: 0;
}

.reveal:hover {
    animation: appear 1s;
    opacity:0;
}



@keyframes appear{
    0% {opacity: 0;}
    100% {opacity: 1;}
}



#curtain {
    width: 100%;
    top: 0;
    height: 100vh;

}

ul {
    list-style-type: none;
    margin: 0;
    top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.text-box {
    text-shadow: 2px 4px 5px rgba(0, 0,0,0.9);
    font-variant: small-caps;
    color: #ffffff;
    letter-spacing: 5pt;
    margin: 6%;
    
}

p {
    font-size: 1em;
    margin: 5%;
}

#text-modify2 {
    margin-top: 8%;
    margin-left: -4%;
    font-size: 1.55em;
}

@media screen and (max-width: 600px) {
    span {
        font-size:30px;
    }
}